 		p{
            font-size: 20px;
            color: black;
            text-align:center;
        }
        h6{
           text-align:center;
        }
        label{
            font-size: 15px !important;
            color:black !important;
        }
        .panel{
		margin-top:21px !important;
        }
         .btn-social {
    /*width: 100px;*/
    position: relative;
    opacity: 1;
    transition: 0.9s ease;
    cursor: pointer;
   
}
.cardstyle {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
}


.cardstyle:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.btn-social:hover {
    transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
    opacity: 1;
}
        .cover-pic{
            background-image: url('../img/cover-pic.jpg');

		    /* Full height */
		    height: 100%; 

		    /* Center and scale the image nicely */
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		   
		        }

                .numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}
.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
       background-color: #f39c12;
       border-color:#e67e22;
      }
    }
  }
}